.nav {
  display: flex;
  justify-content: space-around;

  margin: auto;

  &__cloud-atlas {
    color: $brand-logo;
    font-size: 3rem;
    font-weight: lighter;
  }
}

// .outer-container {
//   max-width: 60rem;
//
//   margin: auto;
// }
