.rummage-form {
  display: flex;
  flex-direction: column;

  max-width: 50%;
  margin: auto;

  opacity: 0.6;
  background-color: $brand-logo;

  box-shadow: 0.1rem 0.1rem 0.1rem #888;
  border-radius: 0.1rem;

  &__user-input {
    margin: $gutter;

    opacity: 0.9;

    border-radius: 0.2rem;
    font-size: 1.5rem;
  }

  &__button {
    align-self: flex-end;

    max-width: 4rem;
    margin: 0 $gutter $gutter;

    opacity: 0.9;

    font-size: 1.2rem;
  }
}
